{% extends 'template.html.twig' %}
{% block title %}
users
{% endblock %}
{% block pageTitle %}
Users
{% endblock %}
{% block body %}
{{ include('fragments/date-jour.html.twig') }}
<div class="alert alert-warning">
    <a href="{{path('app_tab', {nb:7})}}">tab</a>
</div>
<table class="table">
    <tr class="table-active">
        <td>FirstName</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    {% for user in users %}
    <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
        <td>{{user.firstName}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}