<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
</head>

<body>
    {# <h1>{{name}} {{firstName}}</h1> #}
    <p>Aujourd'hui on est le :{{"now"|date("d/m/Y")}}</p>
    <h2>Helloo {{prenom|capitalize }} {{nom|capitalize}}</h2>
    <img src="{{asset('assets/images/')~path |defaultImage}}" alt="">

</body>

</html>